.tooltip {
    position: relative;
    display: inline-block;
    color: blue;
    text-decoration: none;
}

.tooltip .tooltip-text {
    visibility: hidden;
    /* width: 120px; */
    /* top: 100px; */
    /* background-color: #555; */
    /* color: #fff; */
    /* text-align: center; */
    /* border-radius: 6px; */
    /* padding: 5px 0; */
    position: absolute;
    /* z-index: 1; */
    /* bottom: 125%; */
    /* left: 50%; */
    /* margin-left: -60px; */
    /* opacity: 0; */
    /* transition: opacity 0.3s; */
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    /* opacity: 1; */
}
